body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.flexible_cntainer{
    display: flex;
    margin-bottom: 150px;
}
.fixed_width{
    width: 48%;
    padding-left: 7%;
}
.fixed_width img{
    width: 85%;
   
}
.fixed_width p{
    width: 520px;
}
.text_color{
    color: #ffa500;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(#F78C6B,#FB6756);
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream_dig{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 140px ;
}
.experiences_area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 225px ;
}
.experience_items{
    width: 40%;
    height: 380px;
    box-shadow: 10px 10px 50px gray;
    padding: 0px  15px 0px 25px;
    margin-left: 5%;
    margin-right: 5%;
}
.experience_items h2{
    font-size: 38px;
}
#web_ex_1{
    border-image: linear-gradient(#F78C6B,#FB6756);
    border-image-slice: 1;
    border-left: 7px solid;
    border-radius: 10px;
}
#web_ex_2{
    border-image: linear-gradient(#723FD9,#29B8E5);
    border-image-slice: 1;
    border-left: 7px solid;
    border-radius: 10px;
}