body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.flexible_cntainer{
    display: flex;
    margin-bottom: 150px;
}
.fixed_width{
    width: 48%;
    padding-left: 7%;
}
.fixed_width img{
    width: 85%;
   
}
.fixed_width p{
    width: 520px;
}
.text_color{
    color: #ffa500;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(#F78C6B,#FB6756);
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}